/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
  background-color: #F4EFD6;
  background-image: url(/images/foundation/bg.jpg);
}

.content-wrapper {
  background-color: #DDD5BA;
  padding: 8px;
  margin-right: -30px;
  border: 1px solid #C7BEA2;
}

.content {
  background-image: url(/images/foundation/bg.jpg);
  padding:  15px;
}

.navigation {
  background-image: url(/images/foundation/nav-bg.jpg);
  padding-top: 15px;
  padding-bottom: 5px;
  border-bottom: 5px solid #817657;
  margin-bottom: 15px;
}

.navigation .nav-bar { background: none; margin-top: 0; height: auto; }
.nav-bar > li:hover { background: none; font-weight: bold; }
.navigation .nav-bar li { border: none; line-height: 1.5em; }
.navigation .nav-bar li a { color: #413F36; }

#testimonials div {
  background: white;
  padding:  10px 50px;
}

.sidebar-box-wrap {
  float: left;
  margin-bottom: 15px;
  width: 280px;
  padding: 6px 6px 6px 0px;
  background-color: #DDD5BA;
  border-right: 1px solid #C7BEA2;
  border-bottom: 1px solid #C7BEA2;
  border-top: 1px solid #C7BEA2;
}

.sidebar-box-title {
  font-size: 18px;
  color: white;
  padding: 9px 0px 0px 20px;
  margin: 0px 0px 2px 0px;
  float: left;
  font-size: 18px;
  font-family: Georgia;
  background-image: url(/images/foundation/sidebar-header-bg.jpg);
  width: 294px;
  height: 59px;
  margin-left: -15px;
  position: relative;
  clear: both;
}

.sidebar-box {
  width: 273px;
  padding: 0px 15px 8px 15px;
  float: left;
  border-right: 1px solid #C7BEA2;
  border-bottom: 1px solid #C7BEA2;
  border-top: 1px solid #C7BEA2;
  background-image: url(/images/foundation/sidebar-bg.jpg);
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */

/* -----------------------------------------
   Page Name 2
----------------------------------------- */

/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
 */

* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
padding-bottom: 75px;}  /* must be same height as the footer */

#footer {position: relative;
  margin-top: -75px; /* negative value of footer height */
  height: 75px;
  background-image: url(/images/foundation/footer-bg.jpg);
clear:both;} 

#footer-inside {
  background-image: url(/images/foundation/footer-top.jpg);
  background-repeat:  repeat-x;
  padding-top: 25px;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
<style type="text/css">
#wrap {display:table;height:100%}
</style>
<![endif]-->

 */

